[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = ">=2.1.0"
google-cloud-storage = ">=1.16.1"
boto3 = ">=1.9.91"
Pillow = ">=6.0.0"

[dev-packages]

[requires]
python_version = "3.8"
